@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.header {
    width: 100;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
    padding-left: 50px;
    margin-right: auto;
}

.header .search {
    width: 300px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin: 0 20px;
}

.header .login {
    padding: 10px 20px;
    margin-right: 50px;
    background-color: #D9D9D9;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
}

.sidebar {
    width: 200px;
    padding-top: 100px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
    user-select: none;
}

.sidebar ul {
    list-style-type: none;
    margin-top: 20px;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
    border-radius: 4px;
    text-align: center;
}

.sidebar ul li a:hover {
    background-color: #c0c0c0;
}

.main-content {
    margin-left: 200px;
    padding-top: 200px;
    padding: 20px;
    flex-grow: 1;
    z-index: 0;
}
