#header {
	width: 100%;
	height: 95px;
	background-color: aliceblue; /* 임시 색상처리 */
}

#main {
	display: flex;
	padding-top: 43px;
}

#aside-menu {
	width: 284px;
}

.menu-container {
	width: 208px;
	height: 338px;
	border: 1px solid black;
	border-radius: 8px;
	margin: 0 auto;
}

.main-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}