@charset "UTF-8";

.main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-titleWrap {
	margin-top: 200px;
	font-size: 25px;
	font-weight: 500;
}

.titleWrap {
	margin-top: 90px;
	font-size: 25px;
	font-weight: 500;
}

.contentWrap {
	margin-top: 20px;
}

.inputWrap {
	display: flex;
	width: 300px;
	border-radius: 0;
	padding: 15px;
	margin-top: 8px;
	margin-bottom: 25px;
	border: 1px solid #a2a1a1;
}

.input {
  width: 100%;
  outline: none;
  border: none;
  height: 17px;
  font-size: 14px;
  font-weight: 400;
}

.loginButton {
  width: 300px;
  height: 48px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  background-color: #4070f4;
  color: white;
  cursor: pointer;
}
